@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("./assets/font/Satoshi-Variable.ttf");
}
* {
  font-family: "Satoshi";
}

body {
  background-image: url("/src/assets/image/premium_photo-1681487807762-98fbe8a9db5e.avif");
}

button {
  cursor: pointer;
}
